/* class selectors */
.one{
    color: gold;
    background-color: black;
}
.two{
    color: red;
    background-color: palevioletred;
}
div{
    color: gold;
    background-color: black;
}
span{
    text-transform: uppercase;
}