/* class selectors */
.one{
    color: gold;
    background-color: black;
}
.two{
    color: red;
    background-color: rgba(0, 0, 0, 0.7);
}
div{
    color: gold;
    background-color: rgba(0, 0, 0, 0.7);
}
span{
    text-transform: uppercase;
}